# Set

- Set is unordered collection of hetrogenous data type .
- It is mutable.
- It has no duplicate elements.
- It is based on data structure known as hash table.

In [3]:
myset={1,2}  #  set is in curly braces.

In [4]:
type(myset)

set

In [8]:
myset

{1, 2}

In [5]:
newset={}  # an empty set is a dictionary.

In [6]:
type(newset)

dict

In [7]:
newset

{}

In [33]:
newset={"aditya",12,"kumar",3.4,4+5j}

In [34]:
newset

{(4+5j), 12, 3.4, 'aditya', 'kumar'}

In [35]:
type(newset)

set

#####  Set do not use indexing and slicing

In [36]:
newset[1]

TypeError: 'set' object is not subscriptable

In [37]:
newset['aditya']

TypeError: 'set' object is not subscriptable

In [38]:
newset.add(300)  # it will add new elements at any position

In [39]:
newset

{(4+5j), 12, 3.4, 300, 'aditya', 'kumar'}

In [40]:
newset.add('poddar')

In [41]:
newset

{(4+5j), 12, 3.4, 300, 'aditya', 'kumar', 'poddar'}

In [42]:
newset.add(2)

In [43]:
newset

{(4+5j), 12, 2, 3.4, 300, 'aditya', 'kumar', 'poddar'}

In [44]:
newset.remove(12)  # it will remove specific element

In [45]:
newset

{(4+5j), 2, 3.4, 300, 'aditya', 'kumar', 'poddar'}

In [46]:
newset.pop() # it will pop any of the element form set

'kumar'

In [47]:
newset

{(4+5j), 2, 3.4, 300, 'aditya', 'poddar'}

In [48]:
newset.update() # Update a set with the union of itself and others.

In [50]:
newset

{(4+5j), 2, 3.4, 300, 'aditya', 'poddar'}

In [51]:
set1={'aditya','rahul',"Poddar"}
set2={'rahul','kumar','poddar'}

In [52]:
#union of set
set1.union(set2)

{'Poddar', 'aditya', 'kumar', 'poddar', 'rahul'}

In [53]:
#Difference of set    --> set1 se set2 ka comman elements hat jayega.
set1.difference(set2)

{'Poddar', 'aditya'}

In [55]:
#Intersection of set
set1.intersection(set2)

{'rahul'}

In [57]:
# Symmetric difference of set   --> It will union both set1 and set2 and then remove the comman elements
set1.symmetric_difference(set2)

{'Poddar', 'aditya', 'kumar', 'poddar'}

In [58]:
#check the disjoint property of set
set1.isdisjoint(set2)

False

In [59]:
set1.difference_update(set2)   # it will find difference and then update set1

In [60]:
set1

{'Poddar', 'aditya'}

In [70]:
set1

{'Poddar', 'aditya'}

In [72]:
set2

{'kumar', 'poddar', 'rahul'}

In [73]:
# Discard --> used to discard the specific eleemnt from set.
set1.discard('aditya')

In [74]:
set1

{'Poddar'}

# Dictionary
- It is also represented in curly barces.
- It is also collection of hetrogenous item in key value pair.
- It is mutable and support indexing.

- An empty set is always a dictionary.

In [75]:
mydict={}

In [76]:
type(mydict)

dict

In [77]:
mydict={"name":"aditya"}

In [78]:
mydict

{'name': 'aditya'}

In [80]:
mydict['name']   #It will gives the values of name key.

'aditya'

In [81]:
mydict.items()  # get the items of the dictionary

dict_items([('name', 'aditya')])

In [82]:
mydict.keys()   # get the keys of dictionary

dict_keys(['name'])

In [83]:
mydict.values()  # get the vlaues of dictionary

dict_values(['aditya'])

In [86]:
nwdict={"n1":'ad','n2':'b','n3':'cd'}

In [87]:
nwdict

{'n1': 'ad', 'n2': 'b', 'n3': 'cd'}

In [88]:
nwdict.keys()

dict_keys(['n1', 'n2', 'n3'])

In [89]:
nwdict.values()

dict_values(['ad', 'b', 'cd'])

In [91]:
nwdict.items()

dict_items([('n1', 'ad'), ('n2', 'b'), ('n3', 'cd')])

In [94]:
nwdict['n1']

'ad'

In [95]:
for i in nwdict:
    print(i)

n1
n2
n3

In [96]:
for j in nwdict.keys():
    print(j)

n1
n2
n3

In [98]:
for j in nwdict.values():
    print(j)

ad
b
cd

In [99]:
for i in nwdict.items():
    print(i)

('n1', 'ad')
('n2', 'b')
('n3', 'cd')

In [100]:
# updating the key values
nwdict['n1']='aditya'
nwdict['n2']='rahul'

In [101]:
nwdict

{'n1': 'aditya', 'n2': 'rahul', 'n3': 'cd'}

# Tuples
- Tuples are immutable.
- It aslo contains hetrogenous data types of element.
- it is represented in round braces.

In [102]:
mytuple=()

In [103]:
type(mytuple)

tuple

In [104]:
mytuple=(1,2,3)

In [105]:
mytuple.count(1)   # Count the element

1

In [106]:
mytuple.index(2)   # find the index of the element

1

In [108]:
mytuple[0]   # indexing same as list

1

##### whole tuplse can get replace but elements can not get replaced.

In [110]:
mytuple[0]=23

TypeError: 'tuple' object does not support item assignment

In [111]:
mytuple=("helllo","world",10)

In [112]:
mytuple

('helllo', 'world', 10)